.git
.gitignore
.venv
__pycache__
*.pyc
*.pyo
*.log
.env
.railway
.gitrepo

Videos

mobile-viewer-app/node_modules
mobile-viewer-app/.expo
mobile-viewer-app/android/.gradle
mobile-viewer-app/android/build
mobile-viewer-app/android/app/build
mobile-viewer-app/android/app/.cxx

VCNR_Android_Player/node_modules
VCNR_Android_Player/.expo
VCNR_Android_Player/android/.gradle
VCNR_Android_Player/android/build
VCNR_Android_Player/android/app/build
VCNR_Android_Player/android/app/.cxx
